{{ $col_id := .Get "color" | default .Ordinal -}}
{{ $height := .Get "height" | default "auto"  -}}
{{ $type   := .Get "type" | default "container" -}}

<div><a id="td-block-{{ .Ordinal }}" class="td-offset-anchor"></a></div>
<section class="top-section row td-box td-box--{{ $col_id }} td-box--height-{{ $height }}">
  <!-- <div class="alert-message">
    We migrated to a new website. The old one will be available for a while
    <a href="https://good-old.hiredintech.com" target="_blank" rel="nofollow noopener noreferrer">here</a>.
    More info about the migration in <a href="/site-migration" target="_blank" rel="nofollow noopener noreferrer">this blog post</a>.
    <span class="close-button" id="close-alert"><i class="fa-solid fa-x"></i></span>
  </div> -->
<div class="col">
<div class="{{ $type }}">
{{/* Do NOT remove this comment! It ends the HTML block above. See https://spec.commonmark.org/0.30/#html-blocks, 7. */}}
{{ .Inner -}}
</div>
</div>
</section>
{{/**/ -}}
